@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpcontextAccessor
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@*@model RedCrossItCheckingSystem.Models.LoggedIn*@
<ul class="navbar-nav">


    @if (Convert.ToBoolean(httpcontextAccessor.HttpContext.Session.GetString("loggedIn")))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {


        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
        </li>
    }


</ul>
