@model RedCrossItCheckingSystem.Models.DataContainer
@{
    ViewData["Title"] = "Bekræftigelse";
}
<div method="post" asp-validation-summary="ModelOnly"></div>
<div class="ignorePDF">
    <div class="row  ">
        <div class="col-md-12">
            <h2 class="text-center">Vi har registreret følgende</h2>
        </div>

    </div>



    <div class="row">

        <div class="col-md-5"></div>

        <!--button for returning to search page-->
        <div class="col-md-1">
            <div>
                <button class="btn btn-primary" onclick="location.href='../Home/Search'" type="button">Fortsæt</button>
            </div>
        </div>

        <!--button for printing out content-->
        <div class="col-md-1">
            <div class="buttomCenter">
                <button class="btn btn-primary" onclick="window.print()">Udskriv</button>
            </div>
        </div>
        <div class="col-md-5"></div>

    </div>

    <br />
</div>


<div id="content">
    <div class="row">

        <div class="col-md-3"></div>
        <div class="col-md-6 ">

            <!--input field showing content going to the database-->>
            <div class="col-md-12 inputFieldLeft">
                <div class="sidePadding">
                    <div class="row">
                        <div class="col-md-4 label rowPadding">
                            <label>Sagsnummer:</label>
                        </div>
                        <div class="col-md-5 rowPadding">
                            <input class="colWidth100" asp-for="CaseID" readonly />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4 label rowPadding">
                            <label>Serienummer:</label>
                        </div>
                        <div class="col-md-5 rowPadding">
                            <input id="serialId" class="colWidth100" asp-for="SerialNumber" placeholder="Serienummer" readonly />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4 label rowPadding">
                            <label>Kategori:</label>
                        </div>
                        <div class="col-md-5 rowPadding">
                            <input id="typeId" class="colWidth100" asp-for="DeviceType" placeholder="Kategori" readonly />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4 label rowPadding">
                            <label>Model:</label>
                        </div>
                        <div class="col-md-5 rowPadding">
                            <input id="deviceId" class="colWidth100" asp-for="DeviceName" placeholder="Model" readonly />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4 label rowPadding">
                            <label>Tilbehør:</label>
                        </div>
                        <div class="col-md-5 rowPadding">
                            <input id="accesoriesId" class="colWidth100" asp-for="Accessories" placeholder="Tilbehør" readonly />
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-3"></div>

    </div>

    <br />

    <!--list of logs with alternating background colors-->
    <h2>Hændelsesforløb:</h2>
    <div>
        @{var rowcol = ""; }
        
        @{int i = 0;}
        @foreach (var datalog in Model.DataLogs)
        {

            if (i % 2 == 0)
            {
                rowcol = " #dadeff";
            }
            else
            {
                rowcol = "#eeefff";

            }

            i++;

            <div class="editList sidePadding" style="background-color:@rowcol;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3 label">
                                <label>Afdeling:</label>
                            </div>
                            <div class="col-md-6 rowPadding">
                                <input class="colWidth100 form-control" asp-for="@datalog.Department" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 label">
                                <label>Medarbejder:</label>
                            </div>
                            <div class="col-md-6 rowPadding">
                                <input class="colWidth100 form-control" asp-for="@datalog.EmplyeeName" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 label">
                                <label>Dato:</label>
                            </div>
                            <div class="col-md-6 rowPadding">

                                <input class="colWidth100 form-control" asp-for="@datalog.LogDate" type="date" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 label">
                                <label>Status:</label>
                            </div>
                            <div class="col-md-6 rowPadding">

                                <input class="colWidth100 form-control" asp-for="Status" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3 label">
                                <label>Beskrivelse:</label>
                            </div>
                            <div class="col-md-7 rowPadding">
                                <textarea class="form-control" asp-for="@datalog.Description" rows="4" cols="40" readonly></textarea>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        }

    </div>
</div>








@section scripts {
    @{await Html.RenderPartialAsync("_validationScriptsPartial");}
}