@model RedCrossItCheckingSystem.Models.DataContainer
@{
    ViewData["Title"] = "Bekræftigelse";
}

<div>
    <h2 >Vi har registreret følgende</h2>
</div>

<form asp-action="Edit">
    <div method="post" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="row">
            <div class="col-md-1">
                <label>Serienummer</label>
            </div>
            <div class="col-md-1">
                <input asp-for="SerialNumber" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Kategori</label>
            </div>
            <div class="col-md-1">
                <input asp-for="DeviceType" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Model</label>
            </div>
            <div class="col-md-1">
                <input asp-for="DeviceName" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Tilbehør</label>
            </div>
            <div class="col-md-1">
                <input asp-for="Accessories" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Afdeling</label>
            </div>
            <div class="col-md-1">
                <input asp-for="Department" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Medarbejder</label>
            </div>
            <div class="col-md-1">
                <input asp-for="EmplyeeName" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Start Dato</label>
            </div>
            <div class="col-md-1">
                <input asp-for="DateStart" type="date" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Slut Dato</label>
            </div>
            <div class="col-md-1">
                <input asp-for="DateEnd" type="date" readonly />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label>Status</label>
            </div>
            <div class="col-md-1">
                <input asp-for="Status" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Beskrivelse</label>
            </div>
            <div class="col-md-1">
                <textarea asp-for="Description" rows="5" cols="40" readonly></textarea>
            </div>
        </div>


        <button class="btn btn-primary" type="submit" name="submit" value="@Model.CaseID">Rediger</button>

    </div>

</form>

<form action="Index">
    <input class="btn btn-primary" type="submit" value="Fortsæt" />
</form>

@section scripts {
    @{await Html.RenderPartialAsync("_validationScriptsPartial");}
}