@model RedCrossItCheckingSystem.Models.DataContainer
@{
    ViewData["Title"] = "Bekræftigelse";
}
<div method="post" asp-validation-summary="ModelOnly"></div>
<div class="ignorePDF">
    <div class="row  ">
        <div class="col-md-12">
            <h2 class="text-center">Vi har registreret følgende</h2>
        </div>

    </div>



    <div class="row">

        <div class="col-md-5"></div>
        <div class="col-md-1">
            <div>
                <button class="btn btn-primary" onclick="location.href='../Home/Search'" type="button">Fortsæt</button>
            </div>
        </div>

        @*<div class="col-md-1">
            <div class="buttomCenter">
                <button class="btn btn-primary" onclick="convert_HTML_To_PDF();">Udskriv</button>
            </div>
        </div>*@
        <div class="col-md-1">
            <div class="buttomCenter">
                <button class="btn btn-primary" onclick="window.print()">Udskriv</button>
            </div>
        </div>
        <div class="col-md-5"></div>

    </div>

    <br />
</div>


<div id="content">
<div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6 ">

        <div class="col-md-12 inputFieldLeft">
            <div class="sidePadding">
                <div class="row">
                    <div class="col-md-4 label">
                        <label>Sagsnummer:</label>
                    </div>
                    <div class="col-md-5">
                        <input class="colWidth100" asp-for="CaseID" readonly />
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4 label">
                        <label>Serienummer:</label>
                    </div>
                    <div class="col-md-5">
                        <input id="serialId" class="colWidth100" asp-for="SerialNumber" placeholder="Serienummer" readonly />
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4 label">
                        <label>Kategori:</label>
                    </div>
                    <div class="col-md-5">
                        <input id="typeId" class="colWidth100" asp-for="DeviceType" placeholder="Kategori" readonly />
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4 label">
                        <label>Model:</label>
                    </div>
                    <div class="col-md-5">
                        <input id="deviceId" class="colWidth100" asp-for="DeviceName" placeholder="Model" readonly />
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4 label">
                        <label>Tilbehør:</label>
                    </div>
                    <div class="col-md-5">
                        <input id="accesoriesId" class="colWidth100" asp-for="Accessories" placeholder="Tilbehør" readonly />
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class="col-md-3"></div>

</div>

<br />

<h2>Hændelsesforløb:</h2>
<div>
    @{var rowcol = ""; }
    <div>
        @for (int i = 0; i < Model.DataLogs.Count - 1; i++)
        {

            if (i % 2 == 0)
            {
                rowcol = " #dadeff";
            }
            else
            {
                rowcol = "#eeefff";

            }

            <div class="editList sidePadding" style="background-color:@rowcol;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3 label">
                                <label>Afdeling:</label>
                            </div>
                            <div class="col-md-6">
                                <input class="colWidth100 form-control" asp-for="DataLogs[i].Department" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 label">
                                <label>Medarbejder:</label>
                            </div>
                            <div class="col-md-6">
                                <input class="colWidth100 form-control" asp-for="DataLogs[i].EmplyeeName" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 label">
                                <label>Dato:</label>
                            </div>
                            <div class="col-md-6">

                                <input class="colWidth100 form-control" asp-for="DataLogs[i].LogDate" type="date" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3 label">
                                <label>Beskrivelse:</label>
                            </div>
                            <div class="col-md-8">
                                <textarea class="form-control" asp-for="DataLogs[i].Description" rows="4" cols="40" readonly></textarea>
                            </div>
                        </div>
                    </div>


                </div>

            </div>


        }

    </div>
</div>
</div>








@section scripts {
    @{await Html.RenderPartialAsync("_validationScriptsPartial");}
}