@model RedCrossItCheckingSystem.Models.DataContainer
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <label >Congratulations you have done well!</label>
</div>

<form asp-action="Edit">
    <div method="post" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="row">
            <div class="col-md-2">
                <label asp-for="SerialNumber"></label>
            </div>
            <div class="col-md-1">
                <input asp-for="SerialNumber" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label asp-for="Department"></label>
            </div>
            <div class="col-md-1">
                <input asp-for="Department" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label asp-for="EmplyeeName"></label>
            </div>
            <div class="col-md-1">
                <input asp-for="EmplyeeName" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label asp-for="Description"></label>
            </div>
            <div class="col-md-1">
                <input asp-for="Description" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label asp-for="DateStart"></label>
            </div>
            <div class="col-md-1">
                <input asp-for="DateStart" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label asp-for="DateEnd"></label>
            </div>
            <div class="col-md-1">
                <input asp-for="DateEnd" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label asp-for="DeviceName"></label>
            </div>
            <div class="col-md-1">
                <input asp-for="DeviceName" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label asp-for="DeviceType"></label>
            </div>
            <div class="col-md-1">
                <input asp-for="DeviceType" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label asp-for="Accessories"></label>
            </div>
            <div class="col-md-1">
                <input asp-for="Accessories" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label asp-for="Status"></label>
            </div>
            <div class="col-md-1">
                <input asp-for="Status" readonly />
            </div>
        </div>


        <button class="btn btn-primary" type="submit" name="submit" value="@Model.CaseID" >Edit</button>
        
    </div>

</form>

<form action="Index">
    <input class="btn btn-primary" type="submit" value="Ny Case" />
</form>

@section scripts {
    @{await Html.RenderPartialAsync("_validationScriptsPartial");}
}