@model RedCrossItCheckingSystem.Models.DataContainer
@{
    ViewData["Title"] = "Rediger";
}
<h2>Rediger</h2>

<form asp-action="Confirmation">
    <div method="post" asp-validation-summary="ModelOnly"></div>

    <div>
        <div class="row">
            <div class="col-md-2 label">
                <label>Sagsnummer:</label>
            </div>
            <div class="col-md-2">
                <input class="colWidth100" asp-for="CaseID" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 label">
                <label>Serienummer:</label>
            </div>
            <div class="col-md-2">
                <input class="colWidth100" asp-for="SerialNumber" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 label">
                <label>Kategori:</label>
            </div>
            <div class="col-md-2">
                <input class="colWidth100" asp-for="DeviceType" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 label">
                <label>Model:</label>
            </div>
            <div class="col-md-2">
                <input class="colWidth100" asp-for="DeviceName" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 label">
                <label>Tilbehør:</label>
            </div>
            <div class="col-md-2">
                <input class="colWidth100" asp-for="Accessories" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 label">
                <label>Afdeling:</label>
            </div>
            <div class="col-md-2">
                <select class="colWidth100" asp-for="Department" >
                    <option>Vælg afd</option>
                    <option>IT</option>
                    <option>EL</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 label">
                <label>Medarbejder:</label>
            </div>
            <div class="col-md-2">
                <input class="colWidth100" asp-for="EmplyeeName" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 label">
                <label>Start Dato:</label>
            </div>
            <div class="col-md-2">
                <input class="colWidth100" asp-for="DateStart" type="date" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 label">
                <label>Slut Dato:</label>
            </div>
            <div class="col-md-2">
                <input class="colWidth100" asp-for="DateEnd" type="date" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 label">
                <label>Status:</label>
            </div>
            <div class="col-md-2" >
                <select class="colWidth100" asp-for="Status" >
                    <option>Vælg Status</option>
                    <option>Igang</option>
                    <option>Defekt</option>
                    <option>OK</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 label">
                <label>Beskrivelse:</label>
            </div>
            <div class="col-md-2">
                <textarea asp-for="Description" rows="5" cols="40"></textarea>
            </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Gem" />
    </div>

</form>

@section scripts {
    @{await Html.RenderPartialAsync("_validationScriptsPartial");}
}