@model RedCrossItCheckingSystem.Models.DataContainer
@{
    ViewData["Title"] = "Rediger";
}
<h2>Rediger</h2>

<form asp-action="Confirmation">
    <div method="post" asp-validation-summary="ModelOnly"></div>
   
    <div>
        <div class="row">
            <div class="col-md-2">
                <label>Sagsnummer</label>
            </div>
            <div class="col-md-1">
                <input asp-for="CaseID" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Serienummer</label>
            </div>
            <div class="col-md-1">
                <input asp-for="SerialNumber" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Kategori</label>
            </div>
            <div class="col-md-1">
                <input asp-for="DeviceType" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
               8
            </div>
            <div class="col-md-1">
                <input asp-for="DeviceName" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Tilbehør</label>
            </div>
            <div class="col-md-1">
                <input asp-for="Accessories" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Afdeling</label>
            </div>
            <div class="col-md-1">
                <input asp-for="Department" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Medarbejder</label>
            </div>
            <div class="col-md-1">
                <input asp-for="EmplyeeName" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Start Dato</label>
            </div>
            <div class="col-md-1">
                <input asp-for="DateStart" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Slut Dato</label>
            </div>
            <div class="col-md-1">
                <input asp-for="DateEnd" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label>Status</label>
            </div>
            <div class="col-md-1">
                <input asp-for="Status" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Beskrivelse</label>
            </div>
            <div class="col-md-1">
                <textarea asp-for="Description" rows="5" cols="40"></textarea>
            </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Gem" />
    </div>
    
</form>

@section scripts {
    @{await Html.RenderPartialAsync("_validationScriptsPartial");}
}