@model RedCrossItCheckingSystem.Models.DataContainer

@{
    ViewData["Title"] = "Rediger";
}

<!--set date variable to current date time-->
@{ DateTime date = DateTime.Now; }

<!--form to send data to model-->
<form asp-action="Confirmation" class="was-validated">
    <div method="post" asp-validation-summary="ModelOnly"></div>
    <div class="row">

        <!--left panel user can enable editing on case-->
        <div class="col-md-5 ">

            <div class="col-md-12 inputFieldLeft">
                <div class="sidePadding">
                    <h3>Rediger sag</h3>
                    <div class="row">
                        <div class="col-md-4 label">
                            <label>Sagsnummer:</label>
                        </div>
                        <div class="col-md-5 rowPadding">
                            <input class="colWidth100 form-control" asp-for="CaseID" readonly />
                        </div>
                        <div class="col-md-3 label">
                            <label>Aktiver</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 label">
                            <label>Serienummer:</label>
                        </div>
                        <div class="col-md-5 rowPadding">
                            <input id="serialId" class="colWidth100 form-control" asp-for="SerialNumber" placeholder="Serienummer" readonly required maxlength="50" />
                        </div>
                        <div class="col-md-3">
                            <label class="switch">
                                <input id="checkSerial" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 label">
                            <label>Kategori:</label>
                        </div>
                        <div class="col-md-5 rowPadding">
                            <input id="typeId" class="colWidth100 form-control" asp-for="DeviceType" placeholder="Kategori" readonly required maxlength="50" />
                        </div>
                        <div class="col-md-3">
                            <label class="switch">
                                <input id="checkType" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 label">
                            <label>Model:</label>
                        </div>
                        <div class="col-md-5 rowPadding">
                            <input id="deviceId" class="colWidth100 form-control" asp-for="DeviceName" placeholder="Model" readonly required maxlength="50" />
                        </div>
                        <div class="col-md-3 rowPadding">
                            <label class="switch">
                                <input id="checkDevice" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 label rowPadding">
                            <label>Tilbehør:</label>
                        </div>
                        <div class="col-md-5 rowPadding">
                            <input id="accesoriesId" class="colWidth100 form-control" asp-for="Accessories" placeholder="Tilbehør" readonly required maxlength="50" />
                        </div>
                        <div class="col-md-3 rowPadding">
                            <label class="switch">
                                <input id="checkAccessories" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>

        </div>



        <!--button for sending data to the database-->
        <div class="col-md-2">
            <div class="buttomCenter">
                <input class="btn btn-primary " type="submit" value="Gem" />
            </div>
        </div>





        <!--right panel for adding input to new log-->
        <div class="col-md-5 ">

            <div class="col-md-12 inputFieldRight">
                <h4>Tilføj ny hændelse</h4>
                <div class="row">
                    <div class="col-md-4 label ">
                        <label>Afdeling:</label>
                    </div>
                    <div class="col-md-6 rowPadding">
                        <select class="colWidth100 form-control" asp-for="DataLogs[Model.DataLogs.Count - 1].Department" required>
                            <option value="">Vælg Afdeling</option>
                            <option value="IT">IT</option>
                            <option value="EL">EL</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 label ">
                        <label>Medarbejder:</label>
                    </div>
                    <div class="col-md-6 rowPadding">
                        <input class="colWidth100 form-control" asp-for="DataLogs[Model.DataLogs.Count - 1].EmplyeeName" placeholder="Medarbejder" required maxlength="50" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 label ">
                        <label> Dato:</label>
                    </div>
                    <div class="col-md-6 rowPadding">
                        <input class="colWidth100 form-control-plaintext readonlyclass" asp-for="DataLogs[Model.DataLogs.Count-1].LogDate =@date" readonly type="date" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 label ">
                        <label>Status:</label>
                    </div>
                    <div class="col-md-6 rowPadding">
                        <select class="colWidth100 form-control" asp-for="Status" required>
                            <option value="">Vælg Status</option>
                            <option value="Ankommet">Ankommet</option>
                            <option value="Igang">Igang</option>
                            <option value="Defekt">Defekt</option>
                            <option value="OK">OK</option>
                            <option value="Afsluttet">Afsluttet</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 label ">
                        <label>Beskrivelse:</label>
                    </div>
                    <div class="col-md-7 rowPadding">
                        <textarea class="form-control" asp-for="DataLogs[Model.DataLogs.Count - 1].Description" rows="4" cols="25" placeholder="Indtast beskrivelse" required maxlength="1000"></textarea>
                        <span id="remaining"></span>
                        <span id="limit">(Max 1000 tegn)</span>
                    </div>
                </div>

            </div>


        </div>


    </div>







    <br />

    <!--list of logs with alternating background colors-->
    <h2>Hændelsesforløb:</h2>
    <div>
        @{var rowcol = ""; }
        <div>
            @for (int i = 0; i < Model.DataLogs.Count - 1; i++)
            {

                if (i % 2 == 0)
                {
                    rowcol = " #dadeff";
                }
                else
                {
                    rowcol = "#eeefff";

                }

                <div class="editList sidePadding" style="background-color:@rowcol;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3 label">
                                    <label>Afdeling:</label>
                                </div>
                                <div class="col-md-6 rowPadding">
                                    <input class="colWidth100 form-control" asp-for="DataLogs[i].Department" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 label">
                                    <label>Medarbejder:</label>
                                </div>
                                <div class="col-md-6 rowPadding">
                                    <input class="colWidth100 form-control" asp-for="DataLogs[i].EmplyeeName" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 label">
                                    <label>Dato:</label>
                                </div>
                                <div class="col-md-6 rowPadding">

                                    <input class="colWidth100 form-control" asp-for="DataLogs[i].LogDate" type="date" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3 label">
                                    <label>Beskrivelse:</label>
                                </div>
                                <div class="col-md-7 rowPadding">
                                    <textarea class="form-control" asp-for="DataLogs[i].Description" rows="4" cols="40" readonly></textarea>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>


            }

        </div>
    </div>

</form>

<!--java script to enable editing-->
<script src="~/js/JavaScript.js"></script>

<!--java script to count remaining text in description-->
<script src="~/js/textCount.js"></script>


@section scripts {
    @{await Html.RenderPartialAsync("_validationScriptsPartial");}
}

