@model RedCrossItCheckingSystem.Models.DataContainer
@{
    ViewData["Title"] = "Velkomment";
}

<div class="text-center">

    <h2>Velkommen</h2>
    <h4>Til ZBC Hardware Kontrolsystem</h4>
    <br />
    <img class="ImgBG" src="~/Images/Zbc_Logo.png" />
</div>






@section scripts {
    @{await Html.RenderPartialAsync("_validationScriptsPartial");}
}