@model RedCrossItCheckingSystem.Models.DataContainer
@{
    ViewData["Title"] = "Velkomment";
}

<div class="text-center">

    <h2>Velkommen</h2>
    <img src="#" alt="Alternate Text" />
    <br />
</div>







@section scripts {
    @{await Html.RenderPartialAsync("_validationScriptsPartial");}
}
