@model RedCrossItCheckingSystem.Models.DataContainer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-action="Searchresult">
        <div method="post" asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="row">
                <div class="col-md-2">
                    <label asp-for="SerialNumber"></label>
                </div>
                <div class="col-md-1">
                    <input asp-for="SerialNumber" />
                </div>
            </div>
           
            <button class="btn btn-primary" type="submit" name="submit">Søg</button>
        </div>
       
    </form>

   


</div>
@section scripts {
    @{await Html.RenderPartialAsync("_validationScriptsPartial");}
}
