@{
    ViewData["Title"] = "Logget ud";
}

<div class="text-center">

    <h2>Du er logget ud</h2>
    <h4>log venligst ind for at bruge systemet</h4>
    <br />
    <img class="ImgBG" src="~/Images/Zbc_logo.png" />
</div>