/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #fd0202;
}


/* Provide sufficient contrast against white background */
a {
    /* color: #ffffff;*/
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-link {
    color: #ffffff;
    font-weight:bold;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fd0202;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar {
    background-color: #1c289a;
}


    /*.navbar a {
    color: white;
}*/

    .navbar a:hover {
        color: #fd0202;
    }

/*.active {
    background-color: #ffffff;
    
}*/
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.btn {
    background-color: #1c289a;
}

    .btn:hover {
        background-color: #fd0202;
    }
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.label{
    font-weight:bold;
}
.colWidth100 {
    width: 100%;
    height: 95%;
}

.overViewHeader {
    font-weight: bold;
    border: solid;
    border-width: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: #1c289a;
}

.overviewBody {
    border-left: solid;
    border-right: solid;
    border-left-width: 2px;
    border-left-color: #1c289a;
    border-right-color: #1c289a;
    border-right-width: 2px;
}

.overViewFooter {
    height: 10px;
    border-left: solid;
    border-left-width: 2px;
    border-left-color: #1c289a;
    border-right: solid;
    border-right-width: 2px;
    border-right-color: #1c289a;
    border-bottom:solid;
    border-bottom-color: #1c289a;
    border-bottom-width: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
}


.col50 {
    width: 50px;
    padding: 2px 7px 2px 7px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.col75 {
    width: 75px;
    padding: 2px 7px 2px 7px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.col100 {
    width: 100px;
    padding: 2px 7px 2px 7px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.col125 {
    width: 125px;
    padding: 2px 7px 2px 7px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.col150 {
    width: 150px;
    padding: 2px 7px 2px 7px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.col175 {
    width: 175px;
    padding: 2px 7px 2px 7px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #1c289a;
    color: #fd0202;
}

.searchResult {
    margin-top: 7px;
    margin-bottom: 7px;
}

.ImgBG {
    background-color: #1c209a;
    padding: 10px 10px 10px 10px;
    border: solid;
    border-width: 2px;
    border-color: #1c289a;
    border-radius: 10px;
}
