/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #fd0202;
}


/* Provide sufficient contrast against white background */
a {
    font-weight: bold;
    color: #000000;
}

    a:hover {
        font-weight: bold;
        color: #000000;
    }

    a:active {
        font-weight: bold;
        color: #fd0202;
    }

.TitleBtn {
    border: none;
    background: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fd0202;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar {
    background-color: #1c289a;
}


    /*.navbar a {
    color: white;
}*/

    .navbar a:hover {
        color: #fd0202;
    }

/*.active {
    background-color: #ffffff;
    
}*/
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.btn {
    background-color: #1c289a;
}

    .btn:hover {
        background-color: #fd0202;
    }
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    overflow-y: scroll;
}

.label {
    font-weight: bold;
}

.colWidth100 {
    width: 100%;
    height: 100%;
}

.overViewHeader {
    font-weight: bold;
    border-bottom-color: #1c289a !important;
    border-bottom-width: 2px;
    border-bottom: solid;
}

.rowPadding {
   
    padding-bottom: 2px !important;
    padding-top: 2px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.rowPaddingSwitch {
    padding-bottom: 2px !important;
    padding-top: 5px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}




.overViewFooter {
    height: 10px;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
    border-color: #1c289a;
}

.col50 {
    width: 50px;
    padding: 2px 7px 2px 7px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.col75 {
    width: 75px;
    padding: 2px 7px 2px 7px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.col100 {
    width: 100px;
    padding: 2px 7px 2px 7px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.col125 {
    width: 125px;
    padding: 2px 7px 2px 7px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.col150 {
    width: 150px;
    padding: 2px 7px 2px 7px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.col175 {
    width: 175px;
    padding: 2px 7px 2px 7px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.editList {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidePadding {
    padding-left: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #1c289a;
    color: #fd0202;
}

.searchResult {
    margin-top: 7px;
    margin-bottom: 7px;
}

.ImgBG {
    background-color: #1c209a;
    padding: 10px 10px 10px 10px;
    border: solid;
    border-width: 2px;
    border-color: #1c289a;
    border-radius: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 19px;
        width: 19px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #1c289a;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 25px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.inputFieldLeft {
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #1c289a;
    /* margin: 10px;*/
    padding: 10px;
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inputFieldRight {
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #1c289a;
    /* margin: 10px;*/
    padding: 10px;
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttomCenter {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.buttonInColumn {
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.buttonInColumnCenter {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
}



.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none !important;
}

.form-control.is-valid, .was-validated .form-control:valid {
    background-image: none !important;
}
